In [6]:
! python --version
! date

Python 3.4.4 :: Continuum Analytics, Inc.
Dom 21 Ago 2016 17:42:20 CST

ref :   http://www.tutorialspoint.com/python/python_lists.htm
ref :   https://docs.python.org/3/tutorial/datastructures.html
ref :   http://effbot.org/zone/python-list.htm

In [7]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"]

In [31]:
print (len(list1))
print (list1[0])
print (list1[1:3])
print (list1[1::3])
print (list1[-1])
print (list1[:])

4
physics
['chemistry', 1997]
['chemistry']
2000
['physics', 'chemistry', 1997, 2000]

In [42]:
print (list2.reverse())

None

In [29]:
print (max(list2))
print (min(list2))
print (list(list2))
print (7 in list2)
print ( list2+[6])

5
1
[1, 2, 3, 4, 5]
False
[1, 2, 3, 4, 5, 6]

In [40]:
#print (list3.index('a'))
print (list3.index('d'))

0

In [56]:
print(list1*2)

['physics', 'chemistry', 1997, 'physics', 'chemistry', 1997]

# Loop inside List

In [46]:
[x*2 for x in list2]

[2, 4, 6, 8, 10]

In [48]:
[x for x in list2]

[1, 2, 3, 4, 5]

In [52]:
[x for x in list2 if x > 2]

[3, 4, 5]

In [53]:
[(x, x**2) for x in list2]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [61]:
A = [x for x in list2 if x > 2]
A

[3, 4, 5]

In [63]:
[(x) for x in list2 if x > 2]

[3, 4, 5]